

.tab-list-item {
	background-color:#fff;
	position: absolute;
	transition: all 1.5s;
	width: 300px;
	height: 300px;
}

.tab-content {
	color: #fff;
  	background-color: rgb(19, 47, 74);
  	grid-area:1/13/span 9/ span 8;
  	z-index: 5;
  	padding:3em;

}


.tab-list-active {
	left: 10%;
	top: 10%;
	border: 3px solid red;
	transition: all .5s;
	z-index: 4;
	
}
.tab-list-item:nth-child(1){

	border: 1px solid black;
	z-index: 3;
	transition: all .5s;
	background-color: #ccc;

}

.tab-list-item:nth-child(2){
	left: 10%;
	top: 50%;
	border: 1px solid black;
	z-index: 3;
	transition: all .5s;
	background-color: #ccc;

}

.tab-list-item:nth-child(3){
	left:30%;
	top:30%;
	transition: all .5s;
	background-color: #ddd;
}

.Example1 { background-color: red!important; }