

.tab-list-item {
	background-color:#fff;
	position: absolute;
	transition: all .75s ease-in;
	width: 300px;
	height: 300px;
	cursor: pointer;
	border: 3px solid black;
	text-align: center;
	font-size: 3em;
	opacity: .80;
}

.tab-content {
	color: #fff;
  	background-color: rgb(19, 47, 74);
  	grid-area:1/13/span 9/ span 8;
  	z-index: 5;
  	padding:3em;
}

.tab-list-active {
	left: 30%;
	top: 40%;
	z-index: 5;
	opacity: 100;
}

.tab-list-item:nth-child(2){
	left: 20%;
	top: 20%;
	z-index: 2;
}

.tab-list-item:nth-child(3){
	left: 25%;
	top: 30%;
	z-index: 3;
}

.tab-list-item:nth-child(4){
	left: 30%;
	top: 40%;
	z-index: 3;
}


