

.tab-list-item {
	color: #9E9E9E;
	position: absolute;
	transition: all .75s ease-in;
	width: 300px;
	height: 300px;
	cursor: pointer;
	border: 3px solid black;
	text-align: center;
	font-size: 3em;
	padding-top: 2em;
	opacity: .80;
	text-shadow:1px 3px 2px purple;
}

.tab-content {
	color: #fff;
  	background-color: rgb(19, 47, 74);
  	grid-area:1/13/span 9/ span 8;
  	z-index: 5;
  	padding:3em;

}

.tab-list-active {
	
	z-index: 5;
	opacity: .80;
	animation-delay: 5s;
	background-color: rgb(19, 47, 74);
	visibility: visible!important;
}

.tab-list-item:nth-child(2){
	left: 10%;
	top: 10%;
	z-index: 2;
}

.tab-list-item:nth-child(3){
	left: 20%;
	top: 20%;
	z-index: 3;
}

.tab-list-item:nth-child(4){
	left: 30%;
	top: 30%;
	z-index: 3;
}

