/*Intro Desktop*/
.intro {
	grid-area: 1/2/span 10/span 11;
	z-index: 5;
	padding-left: 2em;
	color: #9E9E9E;
}

.largeText {
	text-shadow: 1px 10px 2px purple;
 	font-size: 7em;
 	font-weight: bold;
}

.notAsLargeText {
	text-shadow: 1px 4px 2px purple;
 	font-size: 2em;
 	font-weight: bold;
 	color: #9E9E9E;
 	margin-left: 120px;

}

.evenSmallerText {
 	font-size: 1em;
 	font-weight: bold;
 	color: #9E9E9E;
}

.introRule {
	color: white;
}
@media screen and (max-width: 1201px) and (min-width: 768px) {
	.intro .largeText {
		font-size: 6em;
	}

	.intro {
		grid-area: 1/2/span 10/span 13;
		
	}

	.intro .notAsLargeText {

	 	margin-left: 50px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .intro {
    grid-area: 1 /2 / span 9 / span 14!important;
  }



}
@media screen and (max-width: 768px) {
	.introMobile {
		z-index:5;
		grid-area: 1 /2 / span 8 / span 9;
		background-color: #1b1e21;
		color:#9E9E9E;
	}

	.largeText {
		text-shadow:1px 3px 2px purple;
	 	font-size:3em;
	 	font-weight:bold;
	}

	.notAsLargeText {
		text-shadow:1px 3px 2px purple;
	 	font-size:1em;
	 	font-weight:bold;
	 	color: #9E9E9E;
	 	margin-left: 20px;
	}

	.evenSmallerText {
	 	font-size:1em;
	 	font-weight:bold;
	 	color:#9E9E9E
	}


}