

body {
  margin:0px;
  padding:0px;
  background-image: url(stars.jpg);
  background-size: cover;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color:#ccc;
}

.container-fluid {
  padding: 0px!important;
}

.knockout {
  background: url(stars.jpg) -10px;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-family: arial, helvetica;
  background-color: #000;

 /* font-size: 15em;*/
}

.gridContainer {
  grid-gap: .5em;
  grid-template-rows: repeat(10, 1fr [start]);
  padding: .5em;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-auto-flow: dense;
  background-position: center;
  grid-template-columns: repeat(20, 1fr [start]);
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.subTitle {
  font-size: 3em;
}


.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px; 
  width: calc((100% / 4) - 30px);
  transition: all 0.2s ease-in-out;
}

.card:hover .cardInner {
  background-color:  #1abc9c;
  transform: scale(1.05);
}

.cardInner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: gray;
  color: lightgray;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.cardInner:after {
  transition: all 0.3s ease-in-out;
}

.cardExpander {
  transition: all 0.2s ease-in-out;
  background-color: darkgray;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: lightgray;
  font-size: 1.5em;
}

.is-collapsed > .cardInner:after {
  content: "";
  opacity: 0;

}

.is-collapsed >.cardExpander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.is-expanded > .cardInner { 
  background-color:#1abc9c;
} 

.is-expanded > .cardInner:after{
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}

.cardExpander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.cardExpander .cardInner:hover {
  transform: scale(1);
}

.is-inactive {
  pointer-events: none;
  opacity: 0;
}

@media screen and (min-width: 992px) {

  .card:nth-of-type(3n+2) .cardExpander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .cardExpander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) .cardExpander {
    margin-left: calc(-300% - 90px);
  }

  .cardExpander {
    width: calc(415% + 60px);
  }

}